.vscode/
.DS_Store
.venv/
.vscode
.cursor
.claude
.trae
.codebuddy
.clangd
.clang-format
*.pyc
__pycache__/
CMakeLists.txt
SFML/
pybind11/
output/
build/
result/
PySFEnv/
ios_python/
build_ios/
result_ios/
